body {
    font-family: 'Poppins', sans-serif;
    background: #f4f7fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 450px;
    background: #ffffff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #ff7ad7;
    box-shadow: 0 0 5px rgba(255, 122, 211, 0.7);
}

textarea {
    height: 100px;
    resize: none;
}

button {
    width: 100%;
    background: #c54da1;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #bd356e;
}